body {
    background-image: url("../images/wall.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

hr {
    border: 1px solid black;
    width: 300px;
    margin-left: 0px;
}

a {
    color: black;
}

a:hover {
    color: #FF0000AA;
}

img {
    width: 400px;
}

td {
    vertical-align: top;
}

.layout {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin-left: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.fixnav {
    width: 250px;
}

.menu td {
    text-transform: uppercase;
    font-size: 10pt;
    letter-spacing: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.menu tr:nth-child(even) {
    background-color: #EFEFEF77;
}

.menu tr:nth-child(odd) {
    background-color: #CFCFCF77;
}

#heading {
    margin-top: 100px;
    text-align: left;
}

#navigation {
    margin-top: 50px;
}