@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");

body {
    font: 14px/1.5 "PT Sans Narrow", sans-serif;
    background: #080E24 url(../images/space.gif) repeat;
    color: #626668;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.solarsystem {
    position: relative;
    width: 768px;
    height: 768px;
    display: flex;
    flex-direction: column;   
}

.information {
    display: flex;
    flex-direction: column;   
}



.sun {
    border: 30px solid gold;
    border-radius: 50%;
    box-shadow: 0 0 30px gold;
    position: absolute;
    top: 358px;
    left: 358px;
    z-index: 97;
}

.sun.label:hover:after {
    bottom: 35px;
}



.mercury-orbit {
    border: 2px solid #394057;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 325px;
    left: 325px;
}

.mercury {
    border: 5px solid #B6BAC5;
    border-radius: 50%;
    box-shadow: 0 0 2px #B6BAC5;
    position: absolute;
    top: 55px;
    left: 55px;
    z-index: 97;
    animation: orbiting-mercury 5s linear infinite;
}

.mercury.label:hover:after {
    bottom: 15px;
}

@keyframes orbiting-mercury {
    from {
        transform: rotate(0deg) translateX(60px) rotate(0deg); /* translate on the orbit r (diameter/2)*/
    }
    to {
        transform: rotate(360deg) translateX(60px) rotate(-360deg);
    }
}



.venus-orbit {
    border: 2px solid #394057;
    border-radius: 50%;
    position: relative;
    width: 180px;
    height: 180px;
    top: 294px;
    left: 294px;
}

.venus {
    border: 8px solid #BF8639;
    border-radius: 50%;
    box-shadow: 0 0 4px #BF8639;
    position: absolute;
    top: 82px;
    left: 82px;
    z-index: 97;
    animation: orbiting-venus 8s linear infinite;
}

.venus.label:hover:after {
    bottom: 15px;
}

@keyframes orbiting-venus {
    from {
        transform: rotate(0deg) translateX(90px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(90px) rotate(-360deg);
    }
}



.earth-orbit {
    border: 2px solid #394057;
    border-radius: 50%;
    position: absolute;
    width: 260px;
    height: 260px;
    top: 254px;
    left: 254px;
}

.earth {
    border: 10px solid #0066Cc;
    border-radius: 50%;
    box-shadow: 0 0 5px #0066Cc;
    position: absolute;
    top: 120px;
    left: 120px;
    z-index: 97;
    animation: orbiting-earth 12s linear infinite;
}

.earth span.moon {
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 5px;
    border-radius: 50%;
    background: #CCCCCC;
    z-index: 97;
    top: -2px;
    left: -2px;
    animation: orbiting-moon 2s linear infinite;
}

.earth.label:hover:after {
    bottom: 15px;
}

@keyframes orbiting-earth {
    from {
        transform: rotate(0deg) translateX(130px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(130px) rotate(-360deg);
    }
}

@keyframes orbiting-moon {
    from {
        transform: rotate(0deg) translateX(20px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(20px) rotate(-360deg);
    }
}



.mars-orbit {
    border: 2px solid #394057;
    border-radius: 50%;
    position: absolute;
    width: 340px;
    height: 340px;
    top: 214px;
    left: 214px;
}

.mars {
    border: 9px solid #AA4200;
    border-radius: 50%;
    box-shadow: 0 0 4px #AA4200;
    position: absolute;
    top: 161px;
    left: 161px;
    z-index: 97;
    animation: orbiting-mars 20s linear infinite;
}

.mars.label:hover:after {
    bottom: 15px;
}

@keyframes orbiting-mars {
    from {
        transform: rotate(0deg) translateX(170px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(170px) rotate(-360deg);
    }
}



.spacerocks {
    background: url(../images/spacerocks.png) no-repeat 0 0;
    filter: brightness(150%);
    position: absolute;
    width: 450px;
    height: 450px;
    top: 160px;
    left: 160px;
    z-index: 10;
    animation: orbiting-spacerocks 50s linear infinite;
}

@keyframes orbiting-spacerocks {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



.jupiter-orbit {
    border: 2px solid #404C78;
    border-radius: 50%;
    position: absolute;
    width: 500px;
    height: 500px;
    top: 134px;
    left: 134px;
}

.jupiter {
    border: 20px solid #E0AE6F;
    border-radius: 50%;
    box-shadow: 0 0 6px #E0AE6F;
    position: absolute;
    top: 230px;
    left: 230px;
    z-index: 97;
    animation: orbiting-jupiter 30s linear infinite;
}

@keyframes orbiting-jupiter {
    from {
        transform: rotate(0deg) translateX(250px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(250px) rotate(-360deg);
    }
}



.saturn-orbit {
    border: 2px solid #404C78;
    border-radius: 50%;
    position: absolute;
    width: 580px;
    height: 580px;
    top: 94px;
    left: 94px;
}

.saturn {
    border: 16px solid #DFD3A9;
    border-radius: 50%;
    box-shadow: 0 0 5px #DFD3A9;
    position: absolute;
    top: 274px;
    left: 274px;
    z-index: 97;
    animation: orbiting-saturn 60s linear infinite;
}

.saturn span.ring {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 12px;
    background: none;
    border: 5px solid #5A4E34;
    left: -12px;
    top: -12px;
    z-index: 97;
    transform: skewY(285deg);
}

@keyframes orbiting-saturn {
    from {
        transform: rotate(0deg) translateX(290px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(290px) rotate(-360deg);
    }
}



.uranus-orbit {
    border: 2px solid #404C78;
    border-radius: 50%;
    position: absolute;
    width: 660px;
    height: 660px;
    top: 54px;
    left: 54px;
}

.uranus {
    border: 15px solid #82B3D1;
    border-radius: 50%;
    box-shadow: 0 0 5px #82B3D1;
    position: absolute;
    top: 315px;
    left: 315px;
    z-index: 97;
    animation: orbiting-uranus 70s linear infinite;
}

@keyframes orbiting-uranus {
    from {
        transform: rotate(0deg) translateX(330px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(330px) rotate(-360deg);
    }
}



.neptun-orbit {
    border: 2px solid #404C78;
    border-radius: 50%;
    position: absolute;
    width: 740px;
    height: 740px;
    top: 14px;
    left: 14px;
}

.neptun {
    border: 14px solid #3A47DE;
    border-radius: 50%;
    box-shadow: 0 0 4px #3A47DE;
    position: absolute;
    top: 356px;
    left: 356px;
    z-index: 97;
    animation: orbiting-neptun 100s linear infinite;
}

@keyframes orbiting-neptun {
    from {
        transform: rotate(0deg) translateX(370px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(370px) rotate(-360deg);
    }
}



.label:hover:after{
    background: #0F132C;
    border-radius: 5px;
    bottom: 25px;
    color: #767892;
    content: attr(title);
    padding: 5px 15px;
    position: absolute;
    z-index: 100;
    width: fit-content;
}

#descriptions {
    position: absolute;
    top: 150px;
    right: 100px;
    list-style: none;
}
#descriptions h2 {
    cursor: pointer;
    color: #386077;
    transition: all 0.2s ease-in;
    font-size: 20px;
    position: relative;
    transform: scale(1);
}
#descriptions h2:hover {
    color: #AA4200;
    transform: scale(1.1);
}
#descriptions li p {
    position: absolute;
    left: -250px;
    top: 0;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    border-radius: 5px;
    transition: all 0.4s ease-in;
    background: #0F132C;
    padding: 30px;
    color: #767892;
    line-height: 1.7;
    border: 1px solid #1C203C;
    z-index: 100;
}
#descriptions h2:hover+p {
    visibility: visible;
    opacity: 0.9;
    left: -280px;
}