body {
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 1280px;
    height: 720px;
    border: 2px solid white;
}

h1, h3 {
  text-align: center;
}

a {
  color: black;
  font-size: 10pt;
}

p {
  font-size: 10pt;
}

.title {
    margin-left: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.default {
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 24pt;
}

.layout {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#heading {
    margin-top: 100px;
    text-align: left;
}

input[type=text], input[type=password], input[type=rpassword] {
  width: 300px;
  padding: 12px 20px;
  margin: auto;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button {
  background-color: goldenrod;
  color: white;
  margin: auto;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 50px;
  font-size: 12pt;
}

.button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
  width: fit-content;
  margin: auto;
}

.link {
  text-align: right;
}

span.psw {
  float: right;
  padding-top: 16px;
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

