.date {
    border-bottom: 2px blue dashed;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtitle {
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#body {
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url("bgpattern.png");
    background-repeat: repeat;
}

#window {
    border: 10px white solid;
    background: white;
}

#day {
    border: 4px #C2E9E9 solid;
    background: #E8FBFB;
    padding: 5px;
    margin-top: 10px;
    overflow: hidden;
}

#title {
    background: #A8F0F0;
    text-align: right;
}

img.right {
    float: right;
}
